<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dominika.naszsamochod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Prices"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Calendar"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".GroupMessage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Maps"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <uses-feature
                android:name="android.hardware.location"
                android:required="true" />
            <uses-feature
                android:name="android.hardware.location.gps"
                android:required="true" />
        </activity>
        <activity
            android:name=".MotoDictionary"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Poi"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".PrivMessage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Reminder"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".SignUp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>